{
  "extends": ["react-app", "prettier"],
  "plugins": ["react", "prettier"],
  "settings": {
    "ecmascript": 6
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "avoid",
        "semi": false,
        "trailingComma": "none",
        "endOfLine": "lf",
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "printWidth": 120,
        "jsxSingleQuote": true,
        "prefer-arrow-callback": 1,
        "strict": 0,
        "indent": [2, 2],
        "quotes": [1, "single"],
        "no-multi-spaces": [
          1,
          {
            "exceptions": {
              "VariableDeclarator": true,
              "FunctionExpression": true
            }
          }
        ],
        "key-spacing": [0, { "align": "value" }],
        "no-underscore-dangle": 0
      }
    ]
  }
}
